body {
    background-color: #6ac46a;
}

p {
    color: #383838;
    font-family: "Roboto", sans-serif;
}
h1 {
    color: #383838;
    font-family: "Roboto", sans-serif;
}
h2 {
    color: #383838;
    font-family: "Roboto", sans-serif;
}
h3 {
    color: #383838;
    font-family: "Roboto", sans-serif;
}
h4 {
    color: #383838;
    font-family: "Roboto", sans-serif;
}
h5 {
    color: #383838;
    font-family: "Roboto", sans-serif;
}
a{
    color: #383838;
    font-family: "Roboto", sans-serif;
}